.new-tweet {
    border-radius: 15px;
    width: auto;
    border: solid;
    border-color: gray;
    height: 180px;
    background-color:#1ed2ce3d;
    margin-left: 2em;
    margin-right: 2em;
}

h2 {
    margin: 5%;
    border-bottom:2px solid black;
}

form textarea {
    width: 340px;
    overflow: auto;
    margin-left: 5%;
    padding: 10px;
}

input {
    margin-left: 5%;
}

span.counter {
    float: right;
    margin-right: 6%;
}

.over {
    color: red;
}

#compose {
    float: right;
    margin-top: 10px;
    padding: 20px 25px;
    opacity: 0.6;
    border: dashed;
    border-radius: 15px;
}

#compose:hover{
    opacity: 1;

}

.error {
    color:red;
}

